<div class="card mt-4">
    <div class="card-header">
        <h5>File upload</h5>
    </div>
    <div class="card-body">
        <div class="card-body">
            <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                <ngx-dropzone-label>
                    <div class="dz-message needsclick">
                        <i class="icon-cloud-up"></i>
                        <h6>Drop files here or click to upload.</h6>
                        <span>(This is just a demo dropzone. Selected files are <strong>not</strong>
                            actually uploaded.)</span>
                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <button class="btn btn-primary w-100" (click)="toScrutinyForm()">Process</button>
                </div>
            </div>
        </div>
    </div>
</div>